h2 {
    color: #1f2f3d;
}
.resolve {
    padding: 20px;
    border-left: 1px solid #eee;
}
.resolve_column {
    display: flex;
    flex-flow: column nowrap;
}
.resolve_column__row {
    margin-bottom: 12px;
}
.resolve_column__row:last-child {
    margin-bottom: 0;
}
.resolve_column__row-label {
    display: inline-block;
    width: 80px;
    margin-right: 12px;
    text-align: right;
}
.resolve_column__row_btn {
    margin-left: 92px;
    cursor: pointer;
}
.resolve_column__row_btn:hover {
    text-decoration: underline;
}
.resolve_source {
    margin-top: 12px;
    border-top: 1px solid #eee;
}